
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 80px; /* Adjust padding to match your navbar height */
    padding-bottom: 80px; /* Ensure space for footer */
}
