/* Appointments.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;    
    width: 50%; /* Adjusted for better spacing */
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.heading p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: row; /* Changed to row for side-by-side layout */
    align-items: flex-start; /* Aligns children at the start of the form */
    gap: 30px;
    width: 100%; /* Full width to utilize space */
    flex-wrap: wrap; /* Wraps children to next line on small screens */
}

.infoGrp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; /* Each group takes equal space */
}

.dateGrp {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formGroup {
    display: flex;
    flex-direction: column; /* Updated for better alignment in the new layout */
    align-items: flex-start;
    gap: 10px;
    width: 100%; /* Full width of their container */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border-bottom: 3px solid #000000;
    border-radius: 5px;
    width: 100%; 
    color: #000000; /* Text color when user is typing */
    background-color: white; /* Background color of input */
}

input::placeholder {
    color: #AAAAAA; /* Placeholder text color */
}

.calendar {
    padding: 0; /* Remove excess padding */
}

.submitBtn {
    margin-top: 20px; /* Adds space between form groups and button */
    width: 100%; /* Button stretches to match form width */
    text-align: center;
    align-items: flex-start;
}

.button {
    align-items: flex-start;
}

