/* Reset default styles */
nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the nav bar */
nav {
  width: calc(100% - 0.8rem);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

/* Style the list items */
nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

/* Style the links */
nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s ease-in-out; /* Updated to include transform transition */
  font-size: 1.2rem;
}

/* Change nav_link styles on hover */
.nav_links a:hover {
  transform: scale(1.05);
}

/* Active link styles */
.nav_links a.active {
  color: #CBB74B; /* Gold color for active links */
  background-color: #333; /* Dark background for contrast */
  text-decoration: underline;
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Make the font weight bold */
  border-radius: 4px; /* Rounded corners for aesthetic */
}

