/* Reset default styles */
nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the nav bar */
nav {
  width: calc(100% - 0.8rem);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

/* Hamburger icon */
.hamburgerMenu {
  display: none;
}

/* Style the list items */
nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

/* Style the links */
nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s ease-in-out; /* Updated to include transform transition */
  font-size: 1rem; /* Adjust font size for smaller screens */
}

/* Responsive styling for larger screens */
@media (min-width: 1024px) {
  nav ul li a {
    font-size: 1rem; /* Larger font size for larger screens */
  }
}

/* Change nav_link styles on hover */
.nav_links a:hover {
  transform: scale(1.05);
}

/* Active link styles */
.nav_links a.active {
  font-size: 1.1rem; /* Adjust font size for smaller screens */
  border-radius: 4px; /* Rounded corners for aesthetic */
  color: #e21d48; /* Use primary color for active link */
}

/* Responsive styling for active link on larger screens */
@media (min-width: 1024px) {
  .nav_links a.active {
    color: #e21d48; /* Use primary color for active link */
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  nav {
    padding: 1rem; 
    
  }

  .hamburgerMenu {
    display: block;
  }

  .nav_links {
    display: none;
  }

  .nav_links.showMenu {
    display: flex;
  }

  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

/* Menu item styles */
.menuItem {
  color: #e21d48 !important;
}
