.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  color: white; /* Change text color to white */
}

.hero_content {
  display: flex;
  flex-direction: column; /* Stack text and image content vertically */
  max-width: 1200px; /* Adjust width as necessary */
  width: 100%;
  align-items: center;
  justify-content: center; /* Center the content */
  text-align: center; /* Center text alignment */
}

.text_content {
  padding: 20px; /* Provide some padding around the text */
  color: azure;
}

.text_content h1 {
  font-size: 3rem; /* Adjust font size for smaller screens */
}

/* Responsive styling for larger screens */
@media (min-width: 1024px) {
  .text_content h1 {
    font-size: 5rem; /* Larger font size for larger screens */
  }
}

.image_content {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  margin-top: 20px; /* Add some margin to separate from text content */
}

.image_content img {
  width: 100%; /* Adjust based on your preference */
  max-width: 400px; /* Keeps images from being too large */
  height: auto;
  border-radius: 5px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the buttons */
}

.buttons a {
  text-decoration: none;
  color: white; /* Keep button text color white */
}

.buttons Button {
  margin-right: 10px;
}
