/* Services.module.css */

/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero_content {
    max-width: 800px;
  }
  
  .hero h1 {
    margin-bottom: 20px;
  }
  
  .hero p {
    margin-bottom: 40px;
  }
  
